<form action="/auth/dologin" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="pass" placeholder="password">
    <input type="submit" value="Login">
    <span>{{login_error}}</span>
</form>
<a href="/auth/register">Register</a>